.constituency-filters {
  select {
    background-color: #fff;
    padding: 8px 4px;
    border: 1px solid #777;
    border-radius: 8px;
  }

  input {
    border: 1px solid #777;
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
    padding: 8px 4px;
    border-radius: 6px;
    font-size: 20px;
  }

  .selects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
    margin-top: 8px;
  }
}
